{
  "env": { "browser": true, "node": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@marubase-tools/recommended",
    "plugin:prettier/recommended",
    "plugin:mocha/recommended"
  ],
  "parserOptions": { "ecmaVersion": "latest" },
  "plugins": ["tsdoc"],
  "root": true,
  "rules": {
    "mocha/no-exports": "off",
    "mocha/no-setup-in-describe": "off",
    "mocha/no-synchronous-tests": ["error", { "allowed": ["async"] }],
    "tsdoc/syntax": "error"
  }
}
